﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Agregar Acta Presidencial | Lyra Electoral App</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('assets/vendors/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

        <!-- Bootstrap Select Css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="{{ asset('assets/vendors/node-waves/waves.css')}}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('assets/vendors/animate-css/animate.css')}}" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="{{ asset('assets/vendors/sweetalert/sweetalert.css')}}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{ asset('assets/vendors/css/style.css')}}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('assets/vendors/css/themes/all-themes.css')}}" rel="stylesheet" />
    <script>
    function validate(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}</script>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
   
    <!-- #END# Search Bar -->
      {% include 'layouts/topbar.html.twig' %}
    <section>
        {% include 'layouts/sidebar.html.twig' %}
    </section>

    <section class="content">
        <div class="container-fluid">
           

            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                AGREGAR RESULTADOS ACTA PRESIDENCIAL
                            </h2>
                          
                        </div>
                        <div class="body">
                            {{ form_start(concejo) }}
                            
                            <label for="email_address">CENTRO DE VOTACION:</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.centrovotacion) }}
                                        
                                    </div>
                                </div>
                                        
                                          <label for="email_address">NUMERO JRV</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(concejo.jrv) }}
                                        
                                    </div>
                                </div>
                                        
                                           </br>    
                                <label for="email_address">VOTOS SOBRANTES</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.sobrantes, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>     
                                        
                                         </br>    
                                <label for="email_address">INUTILIZADAS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.inutilizadas, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        </br>
                                        
                              </br>
                               <label for="email_address">VOTOS FMLN</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.fmln, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>
                                        
                                        
                                        </br>
                               <label for="email_address">VOTOS GANA</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.gana, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>    
                                        
                                        
                                         </br>
                               <label for="email_address">VOTOS VAMOS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.vamos, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        </br>
                               <label for="email_address">VOTOS ARENA</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.arena, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>
                                        
                                        
                                        
                                        
                                
                                      </br>
                               <label for="email_address">VOTOS PCN</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.pcn, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                         </br>
                               <label for="email_address">VOTOS PDC</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.pdc, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        
                                </br>
                               <label for="email_address">VOTOS DS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.ds, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>
                                        
                                        
                                        </br>
                               <label for="email_address">ARENA-PCN-PDC-DS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.coalicion) }}
                                        
                                    </div>
                                </div>  
                                        
                              
                                        
                                        
                               
                                    </br>    
                                <label for="email_address">VOTOS IMPUGNADOS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.impugnados, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        
                                </br>    
                                <label for="email_address">VOTOS NULOS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.nulo, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                             
                                     </br>
                               <label for="email_address">ABSTENCIONES</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.abstenciones, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        
                                         </br>
                               <label for="email_address">ESCRUTADOS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.escrutados, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                </br>    
                                <label for="email_address">VOTOS FALTANTES</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.faltantes, { 'type':'number' }) }}
                                        
                                    </div>
                                </div>
                                        
                                        
                               
                                        
                                        </br>    
                                <label for="email_address">ENTREGADOS</label>
                                <div class="form-group">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.entregados, { 'type':'number' }) }}
                                        
                                    </div>
                                </div> 
                                        
                                        
                                        
                                     </br>    
                                
                                <div class="form-group" style="display: none;">
                                    <div class="form-line" onkeypress='validate(event)'>
                                        {{ form_widget(concejo.municipioid, {value : '1'}) }}
                                        
                                    </div>
                                </div>   
                                        
                                        
                                
                                        
                                <br>
                                {{ form_widget(concejo.guardar) }}
                               
                            {{ form_end(concejo) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->
  
            
           
          
           
          
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{{ asset('assets/vendors/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('assets/vendors/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Select Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('assets/vendors/jquery-slimscroll/jquery.slimscroll.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('assets/vendors/node-waves/waves.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('assets/vendors/js/admin.js')}}"></script>

    <!-- Demo Js -->
    <script src="{{ asset('assets/vendors/js/demo.js')}}"></script>
    <script>
    $(document).ready(function() {
    $('.select4').select2();
});
    </script>
    
    
    
    <script>
        $('#acta_presidencial_centrovotacion').change(function () {
            var sectorElectoral = $(this);
            
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('jrv_sector_electoral') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    sectorid: sectorElectoral.val()
                },
                success: function (juntas) {
                    var jrvSelect = $("#acta_presidencial_jrv");

                    // Remove current options
                    jrvSelect.html('');
                    
                    // Empty value ...
                    jrvSelect.append('<option value> Seleccione JRV de ' + sectorElectoral.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(juntas, function (key, jrv) {
                        jrvSelect.append('<option value="' + jrv.id + '">' + jrv.name + '</option>');
                    });
                },
                        
                        
                
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script> 
</body>

</html>