﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Tabla Resultados Presidenciales</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('assets/vendors/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('assets/vendors/node-waves/waves.css')}}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('assets/vendors/animate-css/animate.css')}}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{ asset('assets/vendors/css/style.css')}}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('assets/vendors/css/themes/all-themes.css')}}" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
{% include 'layouts/topbar.html.twig' %}
    <!-- #Top Bar -->
    <section>
       {% include 'layouts/sidebar.html.twig' %}
    </section>

    <section class="content">
        <div class="container-fluid">
            
            <div class="row clearfix">
             
              
                
              
</div>
            <div class="row clearfix">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                   <a href="{{path('ver_resultados_presidenciales_tabla')}}"> <button class="btn btn-danger btn-lg btn-block waves-effect" type="button">ACTUALIZAR RESULTADOS </button>
                       </a>
                                </div>
                <!-- Pie Chart -->
                <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                RESUMEN RESULTADOS PRELIMINARES PRESIDENCIALES
                                <small>Reporte de resultados </small>
                            </h2>
                            
                        </div>
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>PARTIDO</th>
                                        <th>CANTIDAD DE VOTOS</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                     <tr>
                                        <th scope="row">1</th>
                                        <td>FMLN</td>
                                        <td>{{data.fmln}}</td>
                                        
                                    </tr> 
                                    
                                    
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>GANA</td>
                                        <td>{{data.gana}}</td>
                                        
                                    </tr> 
                                    
                                     <tr>
                                        <th scope="row">3</th>
                                        <td>VAMOS</td>
                                        <td>{{data.vamos}}</td>
                                        
                                    </tr>
                                    
                                    
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>ARENA</td>
                                        <td>{{data.arena}}</td>
                                        
                                    </tr>
                                   
                                    
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>PCN</td>
                                        <td>{{data.pcn}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>PDC</td>
                                        <td>{{data.pdc}}</td>
                                        
                                    </tr>
                                    
                                    
                                    
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>DS</td>
                                        <td>{{data.ds}}</td>
                                        
                                    </tr>
                                    
                                    
                                     <tr>
                                        <th scope="row">8</th>
                                        <td>ARENA-PCN-PDC-DS</td>
                                        <td>{{data.coalicion}}</td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <!-- #END# Pie Chart -->
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{{ asset('assets/vendors/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('assets/vendors/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset('assets/vendors/bootstrap-select/js/bootstrap-select.js')}}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('assets/vendors/jquery-slimscroll/jquery.slimscroll.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('assets/vendors/node-waves/waves.js')}}"></script>

    <!-- Chart Plugins Js -->
    <script src="{{ asset('assets/vendors/chartjs/Chart.bundle.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('assets/vendors/js/admin.js')}}"></script>
    
    <!-- Demo Js -->
    <script src="{{ asset('assets/vendors/js/demo.js')}}"></script>
</body>

</html>